.container {
  float: left;
  height: 100%;
  width: 40%;
  font-size: 16px;
}
label {
  display: inline-block;
  text-align: right;
}
body{
background-color: #75c9d2;
}
h1 {
  font-family: "Acme", sans-serif;
  font-size: 48px;
  text-align: center;
}
#result {
  padding: 20px;
  font-size: 16px;
  font-family: cursive;
}
